<!DOCTYPE html>
<html lang="en">

<head> <!---------------------------------------------->
<!----->

    <title>_FILL_</title>

    <link rel="stylesheet" type="text/css" href="styles/site.css">
    <link rel="stylesheet" type="text/css" href="styles/object.css">
    <link rel="stylesheet" type="text/css" href="styles/_FILL_.css">

<!----->
</head> <!---------------------------------------------->
<body> <!---------------------------------------------->
<!----->


<header class="unselectable">
    <div id="header_title" class="header_cell_contents"><a href="index.html">
        Ethan Sifferman
    </a></div>
    
    <table id="navigation_bar" class="header_cell_contents"><tr>
        <td><a href="about.html">about</a></td>
        <td><a href="music.html">music</a></td>
        <td></th><a href="engineering.html">engineering</a></td>
    </tr></table>
</header>


<div class="object">
    <img class="object image_left" src="media/music/object_images/This Love.jpg" alt="AE">
    <div class="object_text text_right">
        <h1 class="object">B.I.P.S. - This Love & Crocodile Rock</h1>
        <p class="object">
            Enter into the world of Budget Instruments Plus Singers! (B.I.P.S.)
            What lies before you is a land of cardboard boxes, kazoos, cups, butter knives, and a half-working banjo from the internet.
            
        </p>
        <a class="object" href="https://youtu.be/Vy0tAJSVBfM" target="_blank">
            Here's the video!
            <img src="media/hlink_arrow-4395FF.svg" alt="arrow">
        </a>
    </div>
</div>


<!---->
</body> <!---------------------------------------------->


<footer>
</footer>

</html>
