<!DOCTYPE html>
<html lang="en">

<head>

    <title>Music | -template-</title>

    <base target="_blank">

    <link rel="stylesheet" type="text/css" href="../styles/site.css">
    <link rel="stylesheet" type="text/css" href="../styles/subpage.css">
    <link rel="stylesheet" type="text/css" href="../styles/music.css">
    
</head>
<body>
<div><header class="unselectable">
    <div id="header_title" class="header_cell_contents">Ethan Sifferman</div>
    
    <table class="navigation_bar"><tr>
        <td id="about"><a href="../index.html" target="_self">about</a></td>
        <td id="music"><a href="../music.html" target="_self">music</a></td>
        <td id="engineering"><a href="../engineering.html" target="_self">engineering</a></td>
    </tr></table>
</header></div>
<div id="_MAIN_"> <!---------------------------------------------->
<!----->

<!---->
</div> <!---------------------------------------------->
</body>


<footer>
</footer>

</html>