
/* --------------------------------------------------------------------------------------------------------- */

header {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header_title { text-shadow: 2px 2px 8px black, 0px 0px 1px black; }

#navigation_bar { text-shadow: 0px 0px 4px black; }

/* --------------------------------------------------------------------------------------------------------- */
/* INTERACTIVE HEADER */


/* --------------------------------------------------------------------------------------------------------- */
