
html {
    background-color: #2e2e2e;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header { }

#Header__Title { text-shadow: 2px 2px 8px black, 0px 0px 1px black; }

#Navigation-Bar {
    text-shadow: 1px 1px 5px black, 1px 1px 3px black, 0px 0px 1px black;
    max-height: 1em;
}

#About {
    background-color: #a1a1a1;
    background-color: rgba(46, 46, 46, 0.25);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);

    padding: 5%;
    padding-top: 1.5%;
    padding-bottom: 2%;
}

/* --------------------------------------------------------------------------------------------------------- */

#Header__Canvas {
    position: relative;
    z-index: 1;
}

/* --------------------------------------------------------------------------------------------------------- */

/* crop */
#Panorama__Space {
    width: 100%;
    height: 100vh;
}

#Panorama__Picture {
    background-color: #2e2e2e;

    z-index: 0;
    position: absolute;
    /* height: calc( 22.9vw + 7vmin + 70px + 180px ); */
    height: 100vh;
    width: 100%;
    top: 0;

    background-image: url( "../media/about/panorama.jpg" );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------------------------------------------------------------------------------------------------- */

#Contents {
    position: absolute;
    /* background-color: yellow; */

    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;

    width: 100%;
    height: 35vh;
    transform: translate( 0, -50% );
    top: 52%;
}

#Ethan {
    /* background-color: blueviolet; */

    height: 29vh;
    border-radius: 100%;
    box-shadow: 2px 2px 8px black, 0px 0px 1px black;
}

#Text-Box {
    margin: 5px;
    display: block;
    width: 40vw;
    min-width: 308px;
    height: 100%;

    background-color: #2e2e2e;
    background-color: rgba(46, 46, 46, 0.7);
    box-shadow: 1px 1px 8px black, 0px 0px 1px black;

    padding: 1%;
    padding-top: .7%;
    text-align: center;

    color: rgba(255, 255, 255, 0.8);
}
#Text-Box h1 {
    font-size: calc( 110% + 10px );
    
}
#Text-Box p {
    font-size: calc( 110% + 0px );
}