
html {
    background-color: #2e2e2e;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header { }

#Header__Title { text-shadow: 2px 2px 8px black, 0px 0px 1px black; }

#Navigation-Bar {
    text-shadow: 1px 1px 5px black, 1px 1px 3px black, 0px 0px 1px black;
    max-height: 1em;
}

#About {
    background-color: #a1a1a1;
    background-color: rgba(46, 46, 46, 0.25);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);

    padding: 5%;
    padding-top: 1.5%;
    padding-bottom: 2%;
}

body {
    background-color: #2e2e2e;
    background-image: url( "../media/about/panorama.jpg" );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}
body > * { margin: 1rem 0; }

/* --------------------------------------------------------------------------------------------------------- */

#Header__Canvas {
    position: relative;
    z-index: 1;
}


/* --------------------------------------------------------------------------------------------------------- */

#Contents {
    flex-grow: 1;

    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;

}
#Contents > * { margin: 1rem .5rem; }

#Ethan {
    /* background-color: blueviolet; */
    --Ethan-Size: calc( 30vmin + 5rem );
    width: var(--Ethan-Size);
    height: var(--Ethan-Size);

    border-radius: 100%;
    box-shadow: 2px 2px 8px black, 0px 0px 1px black;
}

#Text-Box {
    color: #ffffff;
    color: #ffffffcc;
    background-color: #2e2e2e;
    background-color: #2e2e2eb3;
    box-shadow: 1px 1px 8px black, 0px 0px 1px black;

    padding: .7% 1% ;

    text-align: center;
    max-width: 60ch;
    height: fit-content;

}
#Text-Box h1 {
    font-size: 32px;
}
#Text-Box p {
    font-size: 24px;
}