html {
    display: block;
    background-color: white;
}

head { display: none; }

body {
    display: block;
    margin: 0;
    padding: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

header {
    display: block;
    background-color: #171510;
    position: relative;
    height: 150px;
    margin: 0;
    padding: 0;

    text-align: center;
}

#header_canvas {
    position: relative;
    z-index: 1;
}

#header_title {
    /* background-color: blue; */
    display: block;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%,-50%);

    /* -webkit-text-stroke: 2px black; */
    text-shadow: 2px 2px 7px black;
    color: white;
    font-size: calc(27px + 3vmin);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}