
/* --------------------------------------------------------------------------------------------------------- */

header {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header_title { text-shadow: .04em .04em .25em rgb(0,0,0,.5); }

.navigation_bar { text-shadow: 0 0 .2em rgb(0,0,0,.5); }

#music {
    text-shadow: 0 0 .5em yellow,
                 0px 0px .9em yellow,
                 0px 0px .9em yellow;
}

/* --------------------------------------------------------------------------------------------------------- */

#player {
    position: relative;
    max-width: 100vw;
    width: 100vw;
    
}

#player_canvas {
    display: block;
    position: absolute;
    padding-top: 0;
    
}

#sheet_music {
    position: relative;
    padding-left: 4.75%;
    padding-bottom: .5%;
    width: 90%;
    
}

/* --------------------------------------------------------------------------------------------------------- */

.mute_button {
    position: absolute;
    top: 0;
    left: .5%;
    width: 3.5%;
    z-index: 100;

    cursor: pointer;

    transition: transform .2s;
}
.mute_button:hover { transform: scale(1.125); }
.mute_button:active { transform: scale(1.03); }

     #voice_mute { top: 2.5%; }
      #hype_mute { top: 23.625%; }
        #eb_mute { top: 44.75%; }
      #bass_mute { top: 65.875%; }
#percussion_mute { top: 87%; }

/* --------------------------------------------------------------------------------------------------------- */

.svg_button {
    /* max-width: 100%; */
    height: 100%;
}
.button_div {
    /* max-width: calc( 10vw ); */
    height: 90%;
    transition: transform .2s;
    cursor: pointer;
    z-index: 10;
}
.button_div:hover  { transform: scale(1.10); }
.button_div:active { transform: scale(1.03); }

#control {
    border-bottom: 1px dotted black;
    box-shadow: 8px 15px 10px rgba(0,0,0,.3);
    
    position: relative;
    text-align: center;
    height: calc( 7vmin + 70px );
    z-index: 0;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#volume {
    position: relative;
    transform: translate(0,0);
    text-align: center;
    
    height: 100%;
    width: 35vw;
}
#volume_icon {
    position: absolute;
    transform: translate(-50%,-100%);
    top: 40%;
    left: 50%;

    height: 22%;
}
@media only screen and ( min-width: 750px ) { #volume_slider { width: 250px; } }
@media only screen and ( max-width: 750px ) { #volume_slider { width: 100%; } }
#volume_slider {
    position: absolute;
    transform: translate(-50%,100%);
    top: 40%;
    left: 50%;
    
    width: min( 250px, 100% );
    cursor: pointer;
}

#play {
    height: 100%;
}

#sfx {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
    width: 35vw;
    transform: translate(0,-50%);
    top: 50%;
    border-spacing: 1vmin;
}

@media only screen and ( min-width: 750px ) { #sfx { height: 70%; }  }
@media only screen and ( max-width: 750px ) { #sfx { height: 12vw; } }

#sfx > .button_div {
    /* background-color: aqua; */
    padding-left: .5vw;
    padding-right: .5vw;
}

/* --------------------------------------------------------------------------------------------------------- */


div.object {
    color: white;
    background-color: #313131;
    box-shadow: .1em .4em .3em rgba(255,255,255,.4);
}
div.object:hover { background-color: #363636; }
div.object:active { background-color: #3a3a3a; }

div.object {
    color: black;
    background-color: white;
    box-shadow: .1em .4em .3em rgba(0,0,0,.2);
}
div.object:hover { background-color: #fcfeff; }
div.object:active { background-color: #f8fcff; }
