
html {
    display: block;
    background-color: white;
    overflow-x: hidden;
}

head { display: none; }

body {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.hidden { display: none; }

img {
    -webkit-user-drag: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


table {
    display: table;
    border-collapse: separate;
    /* border-spacing: ; MUST IMPLIMENT IN CHILD */
    border-color: transparent;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
    position: relative;
}

a {
    background-color: violet;
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    display: contents;
}

footer {
    display: block;
    margin-top: calc( 2% + 8px );
}

/*----------------------------------------------------------------------------*/

header {
    display: block;
    position: relative;
    height: 180px;
    margin: 0;
    padding: 0;
    
    text-align: center;
    white-space: nowrap;
}

#header_title {
    /* background-color: blue; */
    display: block;
    position: absolute;
    z-index: 20;

    transform: translate(-50%,-75%);
    top: 50%;
    left: 50%;
    width: fit-content;

    color: currentColor;
    font-size: calc(30px + 3vmin);
}

table.navigation_bar {
    /* display: block; */
    position: absolute;
    z-index: 40;
    table-layout: fixed;
    width: 20em;

    transform: translate(-50%,-100%);
    top: 100%;
    left: 50%;

    color: currentColor;
    font-size: calc(20px + .5vmin);
}
@media only screen and ( max-width: 500px ) { #navigation_bar { width: 90%; } }

td.navigation_bar {
    width: 33%;
}

/*----------------------------------------------------------------------------*/

div.object {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin: auto;
    margin-top: 3%;

    border: 1px solid black;
    border-radius: 2em;
    box-shadow: .1em .4em .3em rgba(0,0,0,.2);
    

    transition: transform .2s;
}
@media only screen and ( min-width: 1000px ) { div.object { width: 1000px; } }
@media only screen and ( max-width: 1000px ) { div.object { width: 100%;   } }

div.object:hover {
    background-color: #fcfeff;
    transform: scale(1.02);
}
div.object:active { 
    background-color: #f8fcff;
    transform: scale(1.01);
}

.object_text {
    position: relative;
    padding: 3%;
    z-index: 0;
}


h1.object {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;

    color: #4395FF;
    
}

p.object {
    display: contents;

    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
}

p.link {
    color: #4395FF;
}
/* arrow */
p.link > img {
    height: .7em;
}

img.object { background-color: #696969; }

/*--------------------------------------*/
/*          NORMAL SIZE WINDOW          */
/*--------------------------------------*/
@media only screen and ( min-width: 750px ) {
/**/

img.object {
    position: absolute;
    width: 60%;
    top: 50%;
    transform: translate( 0, -50% );
    border-radius: 1.5em;
}

.object_text {
    min-height: 246px;
}

.image_right { margin-left: 39%; z-index: 1; }
.image_left { z-index: 1; margin-left: 1%; }
.text_right { margin-left: 60%; }
.text_left { margin-right: 60%; }

}
/*--------------------------------------*/
/*          SMALL WINDOW                */
/*--------------------------------------*/
@media only screen and ( max-width: 749px ) {
/**/

img.object {
    position: relative;
    width: 100%;

    border-radius: 1.9em 1.9em 1.5em 1.5em;
}

}

/*----------------------------------------------------------------------------*/